<link rel="stylesheet" type="text/css" href="/stylesheets/searchbar.css">
<script src="/javascript/searchbar.js"></script>

<body>

    <div>{{message}}</div><br>

    <h1> Administrator </h1>


    <h1> Reported Content </h1>

    <div id="friend_search_content_profile">
        <div id="friend_search_error_profile"></div>
        <form>
            <input type="text" id="friend_search_bar_profile" placeholder="Find a profile" autocomplete="off">
        </form>

        <ul id="friend_search_results_profile"></ul>
    </div>


    <table>
        <thead>
            <th class="reported_headers">Author</th>
            <th class="reported_headers">Explanation</th>
            <th class="reported_headers">Reported User</th>
            <th class="reported_headers">Reported Content</th>
        </thead>
        <tbody>
            {{#each reported}}
            <tr id = "{{reported_content}}">
                <td id ="auth" class="reported">{{authf}} {{authl}}</td>
                <td id ="expl" class="reported">{{explanation}}</td>
                <td id ="reportuser" class="reported">{{reportf}} {{reportl}}</td>
                <td id = "report_content" class="reported">{{message}}</td>
                <td><button class="delete_content_btn">Delete Content</button></td>
                <td><button class="allow_content_btn">Allow Content</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
</head>
