<div id="header">
    <button id = "home_button">Home</button>
    <button id = "messages">Messages</button>
    <button id = "profile">Profile</button>
</div>

<h1>Class: {{className}}</h1>

<hr>

<h2>Messages</h2>
<div class="class-chatroom">
    {{#each messages}}
        <div class="message">
            <p>[{{timestamp}}] [{{name}}]: {{message}} </p>
        </div>
    {{/each}}
</div>

<input type="text" placeholder="Enter message" >

<hr>

<h2>Calendar</h2>
<div class="class-calendar">
    {{#each calendar}}
        <div class="calendar-entry">
            <h4>{{date}} - {{title}}</h4>
            <p>{{description}}</p>
        </div>
    {{/each}}
</div>

<hr>

<h2>Class Resources</h2>
<div class="class-resources">
    {{#each resources}}
        <div class="class-resource">
            <h4>{{title}}</h4>
            <p>Uploaded: {{timestamp}}<br>
            File: <a href="{{filepath}}">{{filename}}</a></p>
        </div>
    {{/each}}
</div>

<hr>

<h2>Member List</h2>
<div class="class-member-list">
    <p>
        {{#each members}}
            {{name}} [{{year}}]<br>
        {{/each}}
    </p>
</div>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };
</script>
