<link rel="stylesheet" type="text/css" href="/stylesheets/class.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/event_adder.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/searchbar.css">


<div id="sender_info" style="display:none"
data-user-id={{sender.id}} data-fname={{sender.fname}} data-lname={{sender.lname}}
data-init-cid={{init_cid}}></div>

<aside class="aside">
    <!-- START Sidebar (left)-->
    <div class="aside-inner">
        <nav data-sidebar-anyclick-close="" class="sidebar">
            <!-- START sidebar nav-->
            <ul class="nav">
                <!-- Iterates over all sidebar items-->
                <li class="nav-heading ">
                    <span>My Courses</span>
                </li>
                {{#each courses}}
                <li class="course" id={{id}} course-title="{{course_number}}: {{course_title}}">
                    <a>
                        <em class="fa fa-book"></em>
                        <span>{{course_title}}</span>
                    </a>
                </li>
                {{/each}}
            </ul>
            <!-- END sidebar nav-->
        </nav>
    </div>
    <!-- END Sidebar (left)-->
</aside>
<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="content-wrapper">
        <h3><span id="heading_course_title">{{init_course.course_number}}: {{init_course.course_title}}</span>
            <small>Explore your classes</small>
            <form class="pull-right" style="width: 300px; padding: 22px 20px; position: absolute; right: 0; top: 0">
                <div class="input-group">
                    <label for="message" class="sr-only">Find a profile</label>
                    <input id="friend_search_bar_profile" type="text" placeholder="Find a profile" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default">Search</button>
                    </span>
                </div>
            </form>
        </h3>

        <div id="friend_search_error_profile"></div>
        <ul id="friend_search_results_profile"></ul>

        <!-- START row-->
        <div class="calendar-app">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <!-- START Messages panel-->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="message_list_error_bar"></div>

                            <ul id="message_list" style="height: 300px; overflow-y: scroll !important; list-style-type: none; padding-left: 6px"></ul>
                            <div id="report" class="modal fade" role="dialog" data-backdrop="false">
                                <div class="modal-dialog" >

                                    <!-- Modal content-->
                                    <div class="modal-content" >
                                        <center>
                                          <div style="text-align: right;">
                                            <a id="modal_close" data-dismiss="modal" href="#">close <b>X</b></a>
                                        </div>
                                        <p>To report content, complete the form below.</p>
                                        <form id="modal_feedback" method="post" action="/reportcontent">
                                            <label>Report Message:</label><p id = "message_content"></p>
                                            <p>
                                                <label><strong>Explanation:</strong></label>
                                                <input type="text" autofocus required size="36" name="explanation"></p>
                                                <input id="from_user_report" type="hidden" name="reported_user">
                                                <input id="message_report" type="hidden" name="reported_message">
                                                <input id="course_id_reported" type="hidden" name="course_id">
                                                <input type="submit" name="feedbackForm">
                                            </form>
                                        </center>
                                    </div>
                                </div>
                            </div>

                            <form id="send_message">
                                <div class="input-group">
                                    <label for="message" class="sr-only">Message</label>
                                    <input id="message" type="text" placeholder="Enter a message" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END panel-->
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12 co-xs-pull-12">
                            <!-- START panel-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Classmates</h4>
                                </div>
                                <div class="panel-body">
                                    <div id="class_members_wrapper">
                                        <div id="members_list_error_bar"></div>
                                        <ul id="members_list"></ul>
                                    </div>
                                </div>
                            </div>
                            <!-- END panel-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END row-->

            <!-- START row-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- START panel-->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- START calendar-->
                            <div id="calendar"></div>
                            <button type="button" id="modal_open" data-toggle="modal" data-target="#myModal2" class="mb-sm btn btn-info" style="margin-top: 10px; float: right">Add Event</button>

                            <div id="myModal2" class="modal fade"  data-backdrop="false" role="dialog">
                              <div class="modal-dialog">
                                <div class="modal-content">

                                    <div style="text-align: right;">
                                        <a id="modal_close" data-dismiss="modal" href="#">close <b>X</b></a>
                                    </div>

                                    <p>Complete the form below to add Event:</p>
                                    <form id="modal_feedback" method="post" action = "/addevent" accept-charset="UTF-8">
                                        <p><label>Event Name<strong>*</strong><br>
                                            <input type="text" autofocus required size="36" name="name" value=""></label></p>
                                            <p><label>Description<strong>*</strong><br>
                                                <input type="text" required title="Please enter description" size="48" name="description" value=""></label></p>
                                                <p><label>Due date<strong>*</strong><br>
                                                    <input type="date" required title="Please enter a date" size="48" name="date" value=""></label></p>
                                                    <input id="course_id_input_field" type="hidden" name="course_id">
                                                    <p><input type="submit" name="feedbackForm" value="Add Event"></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END calendar-->
                                </div>
                            </div>
                            <!-- END panel-->
                        </div>
                    </div>
                    <!-- END row-->

                    <!-- START row-->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- START panel-->
                            <div id="panelDemo13" class="panel panel-default">
                                <div class="panel-heading">
                                    <span style="font-weight: bold" class="panel-title">Resources</span>

                                    <!-- Trigger the modal with a button  -->
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" style="float: right">Add Resource</button>

                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade"  data-backdrop="false" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                              <div style="text-align: right;">
                                                <a id="modal_close" data-dismiss="modal" href="#">close <b>X</b></a>
                                            </div>
                                            <center>
                                                <p>Complete the form below to add a resource:</p>
                                                <form id="modal_feedback" method="post" enctype="multipart/form-data" action = "/uploadResource" accept-charset="UTF-8">
                                                    <p><label>Resource Name<strong>*</strong><br>
                                                        <input type="text" autofocus required size="36" name="filetitle"></label></p>
                                                        <input type="file" name="classResource" required>
                                                        <input id="course_id_input_field2" type="hidden" name="course_id">
                                                        <input type="submit" name="feedbackForm">
                                                    </form>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="resources_list_error_bar"></div>
                                    <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
                                        <div class="class_resources">
                                            <div id="resources_list_error_bar"></div>
                                            <ul id="resources_list"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END panel-->
                        </div>
                    </div>
                    <!-- END row-->
                </div>
            </div>
        </section>
        <!-- Page footer-->
        <footer>
            <span>Copyright &copy; 2015 Classwire</span>
        </footer>

        <script src="/js/event_adder_handler.js"></script>
        <script src="/js/searchbar.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/class_messaging.js"></script>

        <script>
        if(document.addEventListener) {
            document.addEventListener("DOMContentLoaded", modal_init, false);
        } else {
            document.getElementById("modal_feedback").attachEvent("onsubmit", checkForm);
            window.attachEvent("onload", modal_init);
        }
        </script>

        <script type="text/javascript">
        $(document).ready(function(){
            function alignModal(){
                var modalDialog = $(this).find(".modal-dialog");
                /* Applying the top margin on modal dialog to align it vertically center */
                modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
            }
    // Align modal when it is displayed
    $(".modal").on("shown.bs.modal", alignModal);
    
    // Align modal when user resize the window
    $(window).on("resize", function(){
        $(".modal:visible").each(alignModal);
    });   
});
        </script>


        <script>
        $(window).load(function(){
            var calendar = $('#calendar');
            var events = JSON.parse('{{{calendar}}}');

            events.forEach(function(event) {
                var eventDate = Date.parse(event.calendar_date);

                var calendarEvent = {
                    title: event.title,
                    description: event.course_number + ': ' + event.description,
                    start: eventDate,
                backgroundColor: '#00c0ef', //Info (aqua)
                borderColor: '#00c0ef' //Info (aqua)
            };

            $('#calendar').fullCalendar('renderEvent', calendarEvent, true);
        });
        });
        </script>

