
<body>
    <div id="header">
        <button id = "home_button">Home</button>
        <button id = "messages">Messages</button>
        <button id = "profile">Profile</button>
    </div>

    <div id="friend_search_content_profile">
        <div id="friend_search_error_profile"></div>
        <form>
            <input type="text" id="friend_search_bar_profile" placeholder="Find a profile" autocomplete="off">
        </form>

        <ul id="friend_search_results_profile"></ul>
    </div>

    <h1>Home</h1>
    <h3>{{message}}</h3>

    <hr>



    <h1> My Courses </h1>

    <form method="post" action="/course/addCourse">
    Course ID: <label><input type="text" name="course_id"></label> <br>
    <button>Add Course</button>
    </form>

    <button>Import schedule</button>

    <div class="myCourses">
      {{#each courses}}
        <div class="myCourse">
          <a href="/class?cid={{id}}"><h2>{{course_number}} {{course_title}}</h2></a>
        </div>
      {{/each}}
    </div>

    <hr>



    <h2>My Calendar</h2>
{{#foo}} {{/foo}}
   
    <div class="class-calendar">
        {{#each calendar}}
            <div class="calendar-entry">
                <h4>{{calendar_date}} - {{title}}</h4>
                <p>{{description}}</p>
            </div>
        {{/each}}
    </div>

    <hr>

    <h2>Class Resources</h2>

    <div class="class-resources">
        {{#each resources}}
            <div class="class-resource">
                <h4>{{course_number}} - {{course_title}}</h4>
                <p>Uploaded: {{date_created}}<br>
                File: <a href="{{url}}">{{name}}</a></p>
            </div>
        {{/each}}
    </div>

    <hr>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascript/searchbar.js"></script>


</body>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/searchbar.css">
</head>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };

    function addCourseFunction() {
        var form = document.getElementById("course_add_id");
        var course = form.elements[0];
    }
</script>

<ul id="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/class">Class</a></li>
    <li><a href="/messages">Messages</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/team">Team</a></li>
</ul>

<!-- Page footer-->
<footer>
    <span>Copyright &copy; 2015 Classwire</span>
</footer>