
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();

    $('#send_msg').click((event) => {
        event.preventDefault();
        console.log("Submitting");
        var conversation_id = $('.chat').attr('id');
        var msgElm = $('#msg');
        var msg = msgElm.val();
        msgElm.val('');
        var data = {conversation_id: conversation_id, msg: msg};
        socket.emit('send_private_message', data);
    });

</script>

<body>
    <div id="header">
        <button id = "home_button">Home</button>
        <button id = "messages">Messages</button>
        <button id = "profile">Profile</button>
    </div>

    <h1> Messages </h1>
    <div>{{message}}</div>

    <div class="conversations">
      {{#each conversations}}
        <div class="user">
          <h2>{{fname}} {{lname}}</h2>
        </div>
      {{/each}}
    </div>

    <button id="new_conversation">New Conversation</button>


    <div class="chat" id={{current_conv_id}}>
        <ul id="messages">
          {{#each messages}}
              <li class="comment"><strong>{{from_user.fname}} {{from_user.lname}}</strong> {{message}} </li>
          {{/each}}
        </ul>

        <input id="msg" autocomplete="off" /><button id="send_msg">Send</button>

    </div>


</body>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };
</script>
