
<body>
    <div id="header">
        <button id = "home_button">Home</button>
        <button id = "messages">Messages</button>
        <button id = "profile">Profile</button>
    </div>

    <h1> Messages </h1>
    <div>{{message}}</div>

    <div class="conversations">
      {{#each conversations}}
        <div class="conversation" id={{id}}>
          <h2>{{fname}} {{lname}}</h2>
        </div>
      {{/each}}
    </div>

    <button id="new_conversation">New Conversation</button>


    <div id="chat_content">
        <ul id="messages">
          {{#each messages}}
              <li class="comment"><strong>{{from_user.fname}} {{from_user.lname}}</strong> {{message}} </li>
          {{/each}}
        </ul>

        <form id="send_message">
            <input id="message" />
            <button>Send</button>
        </form>

    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        jQuery(($) => {
            var socket = io.connect();
            var $conversations = $('#conversation');
            var $newConversationBtn = $('#new_conversation');
            var $chatContent = $('#chat_content');
            var $messageForm = $('#send_message');
            var $messageBox = $('#message');
            var current_conv_id = 46;

            if ($conversations.size() === 0) {
//                $chatContent.hide();
            } else {
                $conversations[0].addClass('active');
                current_conv_id = $conversations[0].attr('id');
                console.log('ACTIVE ID: ' + current_conv_id);
            }

            $messageForm.submit((e) => {
                e.preventDefault();
                var data = {msg: $messageBox.val(), conv_id: current_conv_id};
                socket.emit('send_private_message', data);
                $messageBox.val('');
            });
        });
    </script>

</body>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };
</script>
