<div id="header">  
    <button>Home</button>
    <button>Messages</button>
    <button>Profile</button>
</div>

<h1> Messages </h1>
<div>{{message}}</div>

<div class="conversations">
  {{#each conversations}}
    <div class="user">
      <h2>{{fname}} {{lname}}</h2>
    </div>
  {{/each}}
</div>

<div class="chat">
  {{#each messages}}
    <div class="comment">
      <h2><strong>{{from_user.fname}} {{from_user.lname}}</strong> {{message}} </h2>
    </div>
  {{/each}}
</div>
