
<body>
    <div id="header">
        <button id = "home_button">Home</button>
        <button id = "messages">Messages</button>
        <button id = "profile">Profile</button>
    </div>

    <h1> Messages </h1>
    <div>{{message}}</div>

    <div id="sender_info" style="display:none"
         data-user-id={{sender.id}} data-fname={{sender.fname}} data-lname={{sender.lname}}></div>

    <div class="conversations">
      {{#each conversations}}
        <div class="conversation" id={{id}}>
          <div>{{fname}} {{lname}}</div>
        </div>
      {{/each}}
    </div>

    <button id="new_conversation">New Conversation</button>


    <div id="chat_content">
        <ul id="message_list">
          {{#each messages}}
              <li class="comment"><strong>{{from_user.fname}} {{from_user.lname}}</strong> {{message}} </li>
          {{/each}}
        </ul>

        <form id="send_message">
            <input id="message" autocomplete="off"/>
            <button>Send</button>
        </form>

    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/private_messaging.js"></script>

</body>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };
</script>
