
<body>
    <div id="header">
        <button id = "home_button">Home</button>
        <button id = "messages">Messages</button>
        <button id = "profile">Profile</button>
    </div>

    <h1> Messages </h1>
    <div>{{message}}</div>

    <div class="conversations">
      {{#each conversations}}
        <div class="user">
          <h2>{{fname}} {{lname}}</h2>
        </div>
      {{/each}}
    </div>

    <div class="chat">
      {{#each messages}}
        <div class="comment">
          <h2><strong>{{from_user.fname}} {{from_user.lname}}</strong> {{message}} </h2>
        </div>
      {{/each}}
    </div>
    <script language="JavaScript" src = "/support/redirect.js" type="text/javascript"></script>
</body>

<head>
    <script language="JavaScript" src = "/support/redirect.js" type="text/javascript"></script>
</head>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };
</script>
