
<body>
    <div id="header">
        <button id = "home_button">Home</button>
        <button id = "messages">Messages</button>
        <button id = "profile">Profile</button>
    </div>

    <h1> Messages </h1>
    <div>{{message}}</div>

    <div id="sender_info" style="display:none"
         data-user-id={{sender.id}} data-fname={{sender.fname}} data-lname={{sender.lname}}></div>

    <div class="conversations">
        <ul id="conv_list">
            {{#each conversations}}
                <li class="conversation" id={{id}}>{{fname}} {{lname}}</li>
            {{/each}}
        </ul>
    </div>

    <button id="new_conversation">New Conversation</button>


    <div id="chat_content">
        <div id="message_list_error_bar"></div>
        <ul id="message_list"></ul>

        <form id="send_message">
            <input id="message" autocomplete="off"/>
            <button>Send</button>
        </form>

    </div>

    <div id="friend_search_content">
        <div id="friend_search_error"></div>
        <form>
            <input type="text" id="friend_search_bar" value="Type a friend's name" autocomplete="off">
        </form>

        <ul id="friend_search_results"></ul>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/private_messaging.js"></script>

</body>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/messages.css">
</head>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };
</script>
