
<body>
    <div id="header">
        <button id = "home_button">Home</button>
        <button id = "messages">Messages</button>
        <button id = "profile">Profile</button>
    </div>

    <div id="friend_search_content_profile">
        <div id="friend_search_error_profile"></div>
        <form>
            <input type="text" id="friend_search_bar_profile" placeholder="Find a profile" autocomplete="off">
        </form>

        <ul id="friend_search_results_profile"></ul>
    </div>



    <div>{{message}}</div><br>

    <img id='profilePicture' src="{{user.profile_picture_url}}" alt="No Profile Picture" width = "100" height="100">
    {{#if edits}}
    <form method="post" enctype="multipart/form-data" action = "/upload">
        <input type="file" name="photo" required>
        <input type="submit">
    </form>
    {{/if}}

    <div id="profileInfo">
        <p>{{user.fname}} {{user.lname}}</p>
        <p>{{user.year}}</p>
        <p>{{user.major}}</p>
    </div>

    <div id="currentCourses">
      <h3>Current Courses</h3>
      {{#each courses}}
        <div class="course">
          <p>{{course_title}}</p>
        </div>
      {{/each}}
    </div>

    <div id="biography">

        <h3 id="bio_header"> Biography
            {{#if edits}}
            <span class="btn-group">
                <button class="btn btn-mini" id = "acts_edit" onclick="saveInfo(this)" value = 'bio_text'>Edit</button>
            </span>
            {{/if}}
        </h3>
        <textarea cols="50" id = "bio_text" disabled = disabled>{{user.biography}}</textarea>

    </div>

    <div id="activities">
        <h3 id="bio_header"> Activities/Clubs
            {{#if edits}}
            <span class="btn-group">
                <button class="btn btn-mini" id = "bio_edit" onclick="saveInfo(this)" value = 'acts_text'>Edit</button>
            </span>
            {{/if}}
        </h3>
        <textarea cols="50" id = "acts_text" disabled = disabled>{{user.activities}}</textarea>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascript/searchbar.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</body>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/searchbar.css">
</head>

<script>
    var home_button = document.getElementById("home_button");
    home_button.onclick = function () {
        window.location.href = "/";
    };

    var messages_button = document.getElementById("messages");
    messages_button.onclick = function () {
        window.location.href = "/messages";
    };

    var profile_button = document.getElementById("profile");
    profile_button.onclick = function () {
        window.location.href = "/profile";
    };

    function saveInfo(button){
        var textarea = document.getElementById(button.value);

        if(button.innerText === "Edit"){
            textarea.disabled = false;
            button.innerText = "Save";
        }else{
            textarea.disabled = true;
            if(button.value === 'acts_text'){
                makeAjax(textarea.value,'saveact');
            }else{
                makeAjax(textarea.value,'savebio');
            }

            button.innerText = 'Edit';
        }
    }

    function makeAjax(value, route){
        $.ajax({
            type: "POST",
            url: '/'+route,
            data: {val: value},
            success: function(){
                alert('Successful');
            }
        });
    }

</script>