<link rel="stylesheet" type="text/css" href="/stylesheets/searchbar.css">
<script src="/javascript/searchbar.js"></script>

<aside class="aside">
    <!-- START Sidebar (left)-->
    <div class="aside-inner">
        <nav data-sidebar-anyclick-close="" class="sidebar">
            <!-- START sidebar nav-->
            <ul class="nav">
                <!-- Iterates over all sidebar items-->
                <li class="nav-heading ">
                    <span>My Courses</span>
                </li>
                {{#each own_courses}}
                    <li>
                        <a href="/class?cid={{id}}">
                            <em class="fa fa-book"></em>
                            <span>{{course_title}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
            <!-- END sidebar nav-->
        </nav>
    </div>
    <!-- END Sidebar (left)-->
</aside>
<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="content-wrapper">
        <h3>{{#if edits}}Your{{else}}{{user.fname}}'s{{/if}} Profile
            <small>View your own and others' profiles</small>
            <div id="friend_search_content_profile">
                <div id="friend_search_error_profile"></div>
                <form>
                    <input type="text" id="friend_search_bar_profile" placeholder="Find a profile" autocomplete="off">
                </form>

                <ul id="friend_search_results_profile"></ul>
            </div>

            <form class="pull-right" style="width: 300px; padding: 22px 20px; position: absolute; right: 0; top: 0">
                <div class="input-group">
                    <label for="message" class="sr-only">Find a profile</label>
                    <input id="friend_search_bar_profile" type="text" placeholder="Find a profile" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default">Search</button>
                                    </span>
                </div>
            </form>
        </h3>

        <!-- START row-->
        <div class="row">
            <div class="col-md-12">
                <!-- START widget-->
                <div class="panel widget">
                    <div class="half-float">
                        <img src="img/bg3.jpg" alt="" class="img-responsive">
                        <div class="half-float-bottom">
                            <img id="profilePicture" src="{{user.profile_picture_url}}" alt="No Profile Picture" class="img-thumbnail img-circle thumb128">
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <h3 class="m0">{{user.fname}} {{user.lname}}</h3>
                        <p class="text-muted">Student</p>

                        <div class="row text-left">
                            <div class="col-md-8">
                                <!-- START panel-->
                                <div id="panelDemo10" class="panel panel-default">
                                    <div class="panel-heading">General</div>
                                    <div class="panel-body">
                                        {{#if edits}}
                                            <div class="form-group" style="padding-bottom: 7px">
                                                <label class="col-sm-3 control-label" style="padding-top: 7px">Profile Picture</label>
                                                <div class="col-sm-9">
                                                    <form method="post" enctype="multipart/form-data" action = "/upload">
                                                        <div class="input-group m-b">
                                                            <input type="file" name="photo" class="form-control">
                                                            <span class="input-group-btn">
                                                                <button type="submit" class="btn btn-default">Submit</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <br>
                                        {{/if}}
                                        <div class="form-group" style="padding-bottom: 7px">
                                            <label class="col-sm-3 control-label" style="padding-top: 7px">Graduation Year</label>
                                            <div class="col-sm-9">
                                                <div class="input-group m-b">
                                                    <input type="text" id="grad_text" disabled="disabled" placeholder="N/A" class="form-control" value="{{user.year}}">
                                                    {{#if edits}}
                                                        <span class="input-group-btn">
                                                            <button type="button" id="year_edit" onclick="saveInfo(this)" value="grad_text" class="btn btn-default">Edit</button>
                                                        </span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" style="padding-top: 7px">Major</label>
                                            <div class="col-sm-9">
                                                <div class="input-group m-b">
                                                    <input type="text" id="major_text" disabled="disabled" placeholder="N/A" class="form-control" value="{{user.major}}">
                                                    {{#if edits}}
                                                        <span class="input-group-btn">
                                                            <button type="button" id="major_edit" onclick="saveInfo(this)" value="major_text" class="btn btn-default">Edit</button>
                                                        </span>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END panel-->
                            </div>

                            <div class="col-md-4">
                                <!-- START panel-->
                                <div id="panelDemo10" class="panel panel-info">
                                    <div class="panel-heading">Current Courses</div>
                                    <div class="panel-body">
                                        <ul>
                                            {{#each courses}}
                                                <li class="course">{{course_title}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                                <!-- END panel-->
                            </div>
                        </div>

                        <div class="row text-left">
                            <div class="col-md-12">
                                <!-- START panel-->
                                <div id="panelDemo10" class="panel panel-default">
                                    <div class="panel-heading">
                                        Biography

                                        {{#if edits}}
                                            <button type="button" class="btn btn-default btn-sm" id="acts_edit" onclick="saveInfo(this)" style="float: right" value="bio_text">Edit</button>
                                        {{/if}}
                                    </div>
                                    <div class="panel-body">
                                        <textarea id="bio_text" class="form-control" disabled="disabled">{{user.biography}}</textarea>
                                    </div>
                                </div>
                                <!-- END panel-->
                            </div>
                        </div>

                        <div class="row text-left">
                            <div class="col-md-12">
                                <!-- START panel-->
                                <div id="panelDemo10" class="panel panel-default">
                                    <div class="panel-heading">
                                        Activities & Clubs

                                        {{#if edits}}
                                            <button type="button" class="btn btn-default btn-sm" id="bio_edit" onclick="saveInfo(this)" style="float: right" value="acts_text">Edit</button>
                                        {{/if}}
                                    </div>
                                    <div class="panel-body">
                                        <textarea id="acts_text" class="form-control" disabled="disabled">{{user.activities}}</textarea>
                                    </div>
                                </div>
                                <!-- END panel-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END widget-->
            </div>
        </div>
        <!-- END row-->
    </div>
</section>
<!-- Page footer-->
<footer>
    <span>Copyright &copy; 2015 Classwire</span>
</footer>

<script src="/js/searchbar.js"></script>

<script>
    function saveInfo(button){
        var textarea = document.getElementById(button.value);

        if(button.innerText === "Edit"){
            textarea.disabled = false;
            button.innerText = "Save";
        }else{
            textarea.disabled = true;
            if(button.value === 'acts_text'){
                makeAjax(textarea.value,'saveact');
            }else if(button.value === 'bio_text'){
                makeAjax(textarea.value,'savebio');
            }else if(button.value === 'grad_text'){
                makeAjax(textarea.value, 'savegrad');
            }else if(button.value === 'major_text'){
                makeAjax(textarea.value, 'savemajor');
            }

            button.innerText = 'Edit';
        }
    }

    function makeAjax(value, route){
        $.ajax({
            type: "POST",
            url: '/'+route,
            data: {val: value},
            success: function(){
                alert('Successful');
            }
        });
    }
</script>