<img src = '/img/logo.png' />
<h2 id = "header">Team Members</h2>
<ul>
  {{#each members}}
  <h3>{{this.fname}} {{this.lname}} - {{this.year}}</h3>

      <img src="/img/{{this.user}}.png" width="100" height="100" />
      <p width = "75%">{{this.desc}}</p>

  {{/each}}
</ul>

<script>

</script>

